# Composite Types

## Tuples

Sammlung zusammengehöriger Werte, z.B.

* Spielkarte (Farbe, Kartenwert)
* Koordinaten im 2D/3D Raum (X, Y) bzw. (X, Y, Z)

In [1]:
card = ('HEARTS', 'QUEEN') # Farbe Herz, Kartenwert Dame
point = (3, 2) # X=3, Y=2
point = (3, 4, 5) # X=3, Y=4, Z=5

Unpacking tuples

In [2]:
suit, rank = card
suit

'HEARTS'

In [3]:
x, y = point # ValueError: too many values to unpack

ValueError: too many values to unpack (expected 2)

In [ ]:
x, *rest = point
x, type(rest), rest

In [ ]:
a, b, c, d = point # ValueError: not enough values to unpack

In [ ]:
a, b, c, *d = point # ValueError: not enough values to unpack

In [ ]:
x, y = point
x, y = (3, 2)
#       x, y

x, y = point
x, y = (3, 4, 5)
#       x, y, ?

x, *rest = point
x, *rest = (3, 4, 5)
#           x, *rest

Multiple return values of a function are represented as tuples:

In [ ]:
def make_card():
    #return 'HEARTS'
    #return 'QUEEN'
    return 'HEARTS', 'QUEEN'

make_card()

In [ ]:
suit, rank = make_card()

In [ ]:
card[0]

In [ ]:
card[2] # IndexError: tuple index out of range

## Ranges

In [4]:
range(10)

range(0, 10)

In [5]:
range(5, 10)

range(5, 10)

In [6]:
range(0, 10, 2)

range(0, 10, 2)

In [12]:
range(10, 0, -2)

range(10, 0, -2)

In [13]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
def fizzbuzz(x):
    if x % 3 and x % 5: return x
    # x ist durch 3 oder 5 teilbar
    if x % 3: return 'buzz'
    if x % 5: return 'fizz'
    # x ist durch 3 und 5 teilbar
    return 'fizzbuzz'

for x in map(fizzbuzz, range(0, 20 + 1, 2)):
    print(x)

fizzbuzz
2
4
fizz
8
buzz
fizz
14
16
fizz
buzz

In [23]:
n = 20
for i in range(0, n):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

## Lists

In [26]:
# Index:    0  1  2   3    4    5     6     7
my_list = [ 1, 2, 3, 'A', 'B', 'C', True, False ]

In [27]:
# Access a value at a specified index
letter_a = my_list[3]
letter_a

'A'

In [35]:
first = my_list[0]
last = my_list[-1]

first, last

(1, False)

Slicing

In [42]:
my_list[ : 5 ]

[1, 2, 3, 'A', 'B']

In [40]:
my_list[ -5 : ]

['A', 'B', 'C', True, False]

In [41]:
my_list[ : ]

[1, 2, 3, 'A', 'B', 'C', True, False]

In [43]:
my_list[ 3 : 5 ]

['A', 'B']

In [ ]:
# Add a value at the end
my_list.append('Another value')

In [ ]:
# Remove a value from the end
element = my_list.pop()

In [ ]:
# Remove a value any position
element = my_list.pop(3)

In [44]:
# Length of list
len(my_list)

8

Truthiness of lists

In [54]:
bool([]), bool(['Hallo']), bool([False]), bool([None])

(False, True, True, True)

In [56]:
if my_list:
    print('List contains elements.')
if not my_list:
    print('List is empty.')

List contains elements.

## Dictionaries

Create dictionaries with `dict()` function or `{}` notation:

In [57]:
my_dict = dict(Apple=12, Banana=42, Lemon=17)
my_dict

{'Apple': 12, 'Banana': 42, 'Lemon': 17}

In [ ]:
my_dict = {
    'Apple': 12,
    'Banana': 42,
    'Lemon': 17
}
my_dict

In [59]:
# Length of dictionary
len(my_dict)

3

In [63]:
# Beispiel-Liste mit verschiedenen Datentypen
daten = [
    {"name": "Alice", "alter": 30},
    [1, 2, 3],
    {"name": "Bob", "alter": 25},
    "ein String",
    42,
    {"name": "Charlie", "alter": 35}
]

# Funktion, um alle Wörterbücher in der Liste anzuzeigen
def zeige_alle_dicts(liste):
    dicts = [element for element in liste if isinstance(element, dict)]

    for d in dicts:
        print(d)
        
# Aufruf der Funktion
zeige_alle_dicts(daten)

{'name': 'Alice', 'alter': 30}
{'name': 'Bob', 'alter': 25}
{'name': 'Charlie', 'alter': 35}

In [60]:
my_dict.keys()

dict_keys(['Apple', 'Banana', 'Lemon'])

In [61]:
my_dict.values()

dict_values([12, 42, 17])

In [62]:
my_dict.items()

dict_items([('Apple', 12), ('Banana', 42), ('Lemon', 17)])

In [64]:
for key, value in my_dict.items():
    print(key, value)

Apple 12
Banana 42
Lemon 17

In [65]:
# Access the value for a specified key
my_dict['Apple']

12

In [66]:
# Add a value for a specific key
my_dict['Pineapple'] = 5

In [ ]:
my_dict['Banana'] = my_dict['Banana'] + 1

## Iteration

In [ ]:
for value in my_list:
    print(value)

In [ ]:
for key, value in my_dict.items():
    print(key, value)

## Comprehension